<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <a class="sidebar-nav-item">Derek Hu</a>
      <a class="sidebar-nav-item">tong.hu@scls-sh.org</a>
    </div>

    <p></p>


    <nav class="sidebar-nav">
      <a class="sidebar-nav-item">Week 1</a>
      <a class="sidebar-nav-item">Week 2</a>

    </nav>
    <div class="sidebar_bottom>">
       <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>

    </div>

  </div>
</div>
